{% extends 'base.html.twig' %}

{% block title %}add admin form{% endblock %}



{% block body %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <h1>Add new admin user</h1>

    <div>
        {{ form_label(registrationForm.username) }}
        {{ form_widget(registrationForm.username) }}
    </div>


    <div>
        {{ form_label(registrationForm.plainPassword, 'Password') }}
        {{ form_widget(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
    </div>

    <div>
        {{ form_label(registrationForm.nom) }}
        {{ form_widget(registrationForm.nom) }}
    </div>
    <div>
        {{ form_label(registrationForm.prenom) }}
        {{ form_widget(registrationForm.prenom) }}
    </div>
    <div>
        {{ form_label(registrationForm.dateNaissance) }}
        {{ form_widget(registrationForm.dateNaissance) }}
    </div>

    <div>
        {{ form_errors(registrationForm.username) }}
        {{ form_errors(registrationForm.plainPassword) }}
        {{ form_errors(registrationForm.nom) }}
        {{ form_errors(registrationForm.prenom) }}
        {{ form_errors(registrationForm.dateNaissance) }}
    </div>

    <button type="submit" class="btn">Register new admin</button>
    {{ form_end(registrationForm) }}
{% endblock %}